body {
    font-family: monospace;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(to bottom right, #323232, #212121);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
    cursor: pointer;
}
 h1 {
margin-top: 0;
color: #b340da;
}
#clock {
display: flex;
align-items: center;
justify-content: center;
font-size: 3em;
}
.digit {
color: #b340da;
} 


