body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.quiz-container{
    background-color: #fff;
    border-radius: 8px;

    box-shadow: 0px 2px 10px rgba(0,0,0,.1);
    padding: 10px;
    text-align: center;
}
.choices {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 8px;
    transition: background-color .3s ease-in-out;
}
.btn:hover{
    background: #0056b3;
}
#next-btn{
    margin-top: 10px;
}