*{
    margin: 0;
    padding: 0;
}
h3{
    margin-top: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.image-container{
    width: 150px;
    height: 150px;
    border: 2px solid #222;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    overflow: fill;
}
.button-container{
    display: flex;
    gap: 5px;
    margin: 5px 0;
}